 <style>
      .main-content-container2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        device-width: 144px;
        background: white;
      }
      .vertical-flex-container {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      .main-content-container1 {
        box-sizing: border-box;
        max-width: 1182px;
        padding-top: 32px;
        padding-bottom: 80px;
      }
      .main-content-container {
        box-sizing: border-box;
        width: 100%;
      }
      .flex-container-with-spacing {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .contact-info-container {
        box-sizing: border-box;
        display: flex;
        width: 180px;
        max-width: initial;
        height: 38px;
      }
      .call-me-button-container {
        display: flex;
       flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .contact-info-container1 {
        display: flex;
       flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
      }
      .contact-info-heading {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 400 14px/17px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .email-link-text-style {
    flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font: 600 20px "Source Sans 3", sans-serif;
        color: #607ce6;
        text-decoration-line: underline;
      }
      .contact-info-section {
        display: flex;
      flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-left: 41px;
      }
      .contact-info-bold {
     flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font: 600 20px "Source Sans 3", sans-serif;
        color: #607ce6;
      }
      .main-navigation-container {
        box-sizing: border-box;
        width: 100%;
        margin-top: 32px;
      }
      .horizontal-divider {
        box-sizing: border-box;
        width: 100%;
        height: 1px;
        background: #888888;
      }
      .header-navigation-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 16px;
      }
      .navigation-bar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 42px;
        align-items: center;
        justify-content: flex-start;
      }
      .primary-text-styles {
 flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font: 400 16px/19px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .svg-container {
        display: flex;
        flex-wrap: wrap;
        width: 16px;
        height: 16px;
        color: #607ce6;
      }
      .call-me-back-text-style {
       flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-left: 3px;
        font: 400 16px/19px "Source Sans 3", sans-serif;
        color: #607ce6;
        text-transform: uppercase;
      }
      .pioneer-description {
        box-sizing: border-box;
        width: 100%;
        margin-top: 80px;
      }
      .power-machine-factory-description-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .power-machine-title {
        box-sizing: border-box;
       flex-wrap: wrap;
        max-width: 582px;
        padding: 0;
        margin: 0;
        font: 700 60px/72px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .power-machine-description-text-style {
        box-sizing: border-box;
        flex-wrap: wrap;
        max-width: 381px;
        padding: 0;
        padding-top: 26px;
        margin: 0;
        margin-left: 18px;
        font: 400 16px/19px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .vertical-spacer {
        margin-top: 32px;
      }
      .image-container-fullwidth {
        box-sizing: border-box;
        display: block;
        width: 1180px;
        max-width: initial;
        height: 440px;
        border: none;
        object-fit: cover;
      }
      .pioneer-heading {
        padding: 0;
        margin: 0;
        font: 700 48px/58px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .pioneer-info-box {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 32px;
      }
      .pioneer-content-block {
        box-sizing: border-box;
        flex: 1 1 0;
        max-width: 582px;
      }
      .pioneer-description1 {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;
        font: 400 16px/22.5px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .pioneer-text-block {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 24px;
        font: 400 16px/22.5px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .pioneer-product-description-text-style {
        box-sizing: border-box;
        flex: 1 1 0;
        max-width: 582px;
        padding: 0;
        margin: 0;
        margin-left: 18px;
        font: 400 16px/22.5px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .pioneer-info-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 32px;
      }
      .image-container-full-screen {
        box-sizing: border-box;
        display: block;
        width: 580px;
        max-width: initial;
        height: 280px;
        border: none;
        object-fit: cover;
      }
      .image-container-with-border {
        box-sizing: border-box;
        display: block;
        width: 580px;
        max-width: initial;
        height: 280px;
        margin-left: 20px;
        border: none;
        object-fit: cover;
      }
      .vertical-flex-container1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        margin-top: 32px;
      }
      .product-card-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        justify-content: space-between;
      }
      .level-indicator-container1 {
        box-sizing: border-box;
        flex-wrap: wrap;
        min-width: 380px;
        padding: 32px 23px;
        background: whitesmoke;
      }
      .level-indicator-widget {
        box-sizing: border-box;
        display: block;
        width: 200px;
        max-width: initial;
        height: 194px;
        border: none;
        object-fit: cover;
      }
      .level-indicator-widget1 {
        box-sizing: border-box;
        width: 100%;
        margin-top: 107px;
      }
      .signalizer-heading {
        padding: 0;
        margin: 0;
        font: 600 28px/34px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .level-indicator-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 12px;
      }
      .detail-link {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font: 400 20px/24px "Source Sans 3", sans-serif;
        color: #607ce6;
      }
      .svg-container1 {
        display: flex;
        flex-wrap: wrap;
        width: 12px;
        height: 12px;
        margin-left: 4px;
        color: #607ce6;
      }
      .pressure-sensor-details-container {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding: 55px 120px 32px 23px;
        background: whitesmoke;
      }
      .pressure-sensor-image-container {
        box-sizing: border-box;
        display: block;
        flex-wrap: wrap;
        max-width: initial;
        height: 112px;
        border: none;
        object-fit: cover;
      }
      .pressure-sensor-card {
        flex-wrap: wrap;
        margin-top: 166px;
      }
      .pid-regulator-section {
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 32px 141px 32px 23px;
        background: whitesmoke;
      }
      .image-container-with-text {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: initial;
        height: 158px;
        border: none;
        object-fit: cover;
      }
      .pid-regulator-details {
        margin-top: 143px;
      }
      .product-grid-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 25px;
      }
      .pressure-calibrator-card {
        box-sizing: border-box;
        display: block;
        width: 200px;
        max-width: initial;
        height: 149px;
        border: none;
        object-fit: cover;
      }
      .pressure-calibrator-section {
        box-sizing: border-box;
        width: 100%;
        margin-top: 152px;
      }
      .gas-flow-corrector-image {
        box-sizing: border-box;
        display: block;
        width: 200px;
        max-width: initial;
        height: 141px;
        border: none;
        object-fit: cover;
      }
      .gauge-section {
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 380px;
        padding: 32px 23px;
        background: whitesmoke;
      }
      .product-image-container {
        box-sizing: border-box;
        display: block;
        width: 200px;
        max-width: initial;
        height: 138px;
        border: none;
        object-fit: cover;
      }
      .city-list-container1 {
        box-sizing: border-box;
        width: 100%;
        padding-right: 25.5px;
        padding-left: 4.5px;
        margin-top: 36px;
      }
      .city-list-container4 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 425px 67px 78px;
        background: url("https://i.ibb.co/TcCHvRK/image-741e2690.png") 50% / cover no-repeat;
      }
      .city-list-container {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 94.79%;
        padding-bottom: 30px;
      }
      .city-list-container2 {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        height: 110px;
      }
      .horizontal-align-center {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        justify-content: flex-end;
        padding-right: 16px;
        padding-left: 16px;
      }
      .svg-container2 {
        display: flex;
        flex: 0 0 auto;
        width: 10px;
        height: 10px;
        margin-right: 3px;
      }
      .location-text-style {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 400 12px/14.5px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .city-list-container3 {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 13px;
      }
      .svg-container3 {
        display: flex;
        flex: 0 0 auto;
        width: 10px;
        height: 10px;
      }
      .city-name-style {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        margin-left: 3px;
        font: 400 12px/14.5px "Source Sans 3", sans-serif;
        color: #333333;
      }
      .location-card1 {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 18px;
      }
      .location-card {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 6px;
      }
      .city-card {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 80px;
        margin-top: -5px;
      }
      .location-card3 {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 99px;
      }
      .location-card2 {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 9.21%;
        padding-top: 152px;
        padding-left: 15px;
      }
      .news-section {
        box-sizing: border-box;
        width: 100%;
        margin-top: 112px;
      }
      .news-card-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 31px;
      }
      .vertical-card-container {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        max-width: 380px;
      }
      .article-thumbnail {
        box-sizing: border-box;
        display: block;
        flex: 0 0 auto;
        max-width: initial;
        height: 251px;
        border: none;
        object-fit: cover;
      }
      .pioneer-consulting-card-body {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 16px 15px 24px;
        background: whitesmoke;
      }
      .pioneer-consulting-text-style {
        flex: 0 0 auto;
        align-self: center;
        padding: 0;
        margin: 0;
        font: 400 20px/28px "Source Sans 3", sans-serif;
        color: #333333;
        text-align: left;
      }
      .article-meta-info {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        margin-top: 81px;
      }
      .read-more-date-paragraph {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 400 16px/19px "Source Sans 3", sans-serif;
        color: #607ce6;
      }
      .publication-date {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 400 16px/22.5px "Source Sans 3", sans-serif;
        color: #888888;
      }
      .news-article-preview {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 16px 15px 24px;
        margin-top: 1px;
        background: whitesmoke;
      }
      .pioneer-section-container1 {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 56px 130px 24px;
        background: #333333;
      }
      .pioneer-section-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: space-between;
      }
      .section-title-container3 {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .section-title-container1 {
        flex: 0 0 auto;
      }
      .section-title-style1 {
        padding: 0;
        margin: 0;
        font: 400 16px/19px "Source Sans 3", sans-serif;
        color: white;
        white-space: pre-wrap;
      }
      .section-title-style {
        margin-top: 24px;
      }
      .section-title-style1:first-child {
        margin-top: 0px;
      }
      .section-title-container {
        flex: 0 0 auto;
        margin-left: 89px;
      }
      .section-title-container2 {
        flex: 0 0 auto;
        margin-left: 55px;
      }
      .section-title-style1:last-child {
        text-align: left;
      }
      .company-info-text-style {
        flex: 0 0 auto;
        align-self: center;
        padding: 0;
        margin: 0;
        margin-top: 73px;
        margin-left: 30px;
        font: 400 14px/17px "Source Sans 3", sans-serif;
        color: white;
      }
    </style>


